@media screen and (max-width: 767px) {
       
    .about-us__link{
        display: flex;
        justify-content: center;
        align-items: center;
       
        height: 120px;
        background: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    
    .about-us__title{
        max-width: 450px;
        text-align: center;
    }
    .about-us__item:not(:last-child){
       margin-bottom: 30px;
    }
             
}

@media screen and (min-width: 768px) {
      
    .about-us{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .about-us__item{
        @media screen and (max-width: 1199px) {
            width: calc((100% - 30px)/2);
        }
       
    }
    .about-us__link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 354px;
        height: 120px;
        background: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .about-us{
        display: flex;
        gap: 30px;
    }
  .about-us__item{
    width: calc((100% - 90px) / 4);
  }
  .about-us__link{
   
        width: 270px;
        height: 120px;
  }
}
    
.about-us__icon{
    width: 70px;
    height: 70px;
}

    .about-us__title {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;
        color: var(--fonts-title-color);
    }
    .about-us__title:not(:last-child){
        margin: 0px 0px 10px 0px;
    }