@media screen and (max-width: 767px) {
    .social{
        display: flex;
        justify-content: center;
       
    }
    
}
.footer__add-to-us{
    @media screen and (max-width:1199px) {
        text-align: center;
       
    }
   
}


.footer__link-view{
   
    color: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus{
        background-color:var(--brand-color);
       
     }
}


.footer__title{
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    .footer__add-to-us{
       
        margin-right: 88px;
 }
}
 .social__item {
    margin-right: 10px;
    
}
.upercase-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}
