// .exmaple__list{
//     display: flex;
//     flex-wrap: wrap;
//     gap: 30px;
//  }
@media screen and (max-width:767px) {
 
        .exmaple__item:not(:last-child){
            margin-bottom: 30px;
        }

}
 @media screen and (min-width: 768px) {
    .exmaple__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
     }
     .exmaple__item{
     
     flex-basis: calc((100% - 30px) / 2);
   
 }
 }
 @media screen and (min-width: 1200px) {
    .exmaple__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
     }
     .exmaple__item{
       
     flex-basis: calc((100% - 60px) / 3);
    
 }

 }

   
 .exmaple__box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.elements__title-item{
    color: var(--fonts-color);
}
.exmaple__link{
   min-height: 100%;
    display: flex;
    flex-direction: column;
    
   
    &:hover,
    &:focus{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
       
    }
}
.exmaple__box-desc {
    padding: 20px 24px;
    border-left: solid 1px #EEEEEE;
    border-right: solid 1px #EEEEEE;
    border-bottom: solid 1px #EEEEEE;
    flex: 1 1 auto;
    
   



}
.exmaple__item-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--fonts-title-color);
    margin-bottom: 4px;
   }

.overlay-title{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;

}
.exmaple-overlay{
    position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 101%;
	background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
	transition: transform 250ms ease;
    color: var(--white-color);
    padding: 63px 24px;
}

.exmaple__link:hover .exmaple-overlay, .exmaple__link:focus .exmaple-overlay {
	transform: translateY(0);
  }


.elements__title-item{
    font-size: 16px;
    line-height: 1.8; 
}