*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--fonts-color);
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    height: auto;
    width: 100%;
}
